@media (max-width: 1279.98px) {
  // PETS SECTION

  .section {
    padding-bottom: 76px;
  }

  .slide-container {
    width: 580px;
  }

  .pets {
    &__heading {
      margin-bottom: 30px;
    }

    &__cards-container {
      grid-template-columns: repeat(2, 1fr);

      width: 100%;
      margin-bottom: 40px;
    }
  }
}
