@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/georgia/Georgia.woff2") format("woff2"), url("../../assets/fonts/georgia/Georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial/ArialMT.woff2") format("woff2"), url("../../assets/fonts/arial/ArialMT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial/Arial-ItalicMT.woff2") format("woff2"), url("../../assets/fonts/arial/Arial-ItalicMT.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  color: #545454;
  padding-top: 120px;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.shadow {
  opacity: 0;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.97);
  min-height: 120px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link {
  text-decoration: none;
}

.logo-link_mobile {
  display: none;
}

.logo_title {
  font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.logo_subtitle {
  font-family: 'Arial', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.menu-list {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px;
}

.menu__link {
  font-family: 'Arial', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 2px;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.menu__link:hover {
  color: #292929;
  text-decoration: none;
  cursor: pointer;
}

.menu__link:active {
  border-bottom: 3px solid #f1cdb3;
  cursor: none;
}

.menu__link_active {
  border-bottom: 3px solid #f1cdb3;
  color: #292929;
  text-decoration: none;
  cursor: none;
}

.btn-mobile-nav {
  display: none;
}

.section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.button {
  display: inline-block;
  font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  border-color: #f1cdb3;
  border: none;
  background-color: #f1cdb3;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.button:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
  cursor: pointer;
}

.pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.pets__heading {
  font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 400px;
  margin-bottom: 60px;
}

.pets__cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
  width: 100%;
  margin-bottom: 60px;
}

.pets__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.pets__card_img {
  width: 100%;
  margin-bottom: 30px;
  background-color: transparent;
}

.pets__card_name {
  font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
}

.pets__card:hover {
  cursor: pointer;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__card:hover .button-light {
  background-color: #fddcc4;
  border-color: #fddcc4;
  cursor: pointer;
}

.button-light {
  font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #fafafa;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 13px 43px;
  margin-bottom: 30px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.pagination__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.pagination__button:hover {
  border-color: #fddcc4;
  background-color: #fddcc4;
  cursor: pointer;
}

.pagination__button:active {
  border-color: #f1cdb3;
  background-color: #f1cdb3;
  cursor: pointer;
}

.pagination__button.current {
  border-color: #f1cdb3;
  background-color: #f1cdb3;
  cursor: default;
}

.pagination__button.inactive {
  color: #cdcdcd;
  border-color: #cdcdcd;
}

.pagination__button.inactive:hover {
  border-color: #cdcdcd;
  background-color: transparent;
  cursor: default;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 350px;
  padding-top: 40px;
  background: url("../../assets/img/noise_transparent@2x.png"), radial-gradient(85% 300% at left, #513d2f 0%, #1a1a1c 100%);
  background-repeat: repeat;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 62%;
  padding-bottom: 60px;
}

.footer__contacts, .footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 41%;
  height: 100%;
}

.footer__header {
  font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #ffffff;
  margin-top: 16px;
}

.footer__email, .footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  margin-right: 20px;
}

.footer__text {
  font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #f1cdb3;
}

.footer__img {
  width: 25%;
  background-image: url("../../assets/img/footer-puppy.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

@media (max-width: 1279px) {
  .center {
    padding-left: calc(50% - 354px);
    padding-right: calc(50% - 354px);
  }
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section {
    padding-bottom: 76px;
  }
  .pets__heading {
    margin-bottom: 30px;
  }
  .pets__cards-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 580px;
    margin-bottom: 40px;
  }
  .pets__card_tablet-hidden {
    display: none;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 639px;
    padding-top: 30px;
  }
  .footer__info {
    gap: 44px;
    width: 100%;
    padding-left: 34px;
    padding-right: 34px;
  }
  .footer__contacts, .footer__address {
    width: auto;
    height: 234px;
  }
  .footer__header {
    text-align: left;
    margin-top: 0;
  }
  .footer__img {
    width: 100%;
    height: 310px;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .center {
    padding-left: calc(50% - 150px);
    padding-right: calc(50% - 150px);
  }
  .top {
    min-height: 823px;
  }
  .header {
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .logo-container {
    margin-left: 10px;
  }
  .btn-mobile-nav {
    display: block;
    margin-right: 53px;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
  @-webkit-keyframes slide-in {
    from {
      margin-left: 100%;
    }
    to {
      left: calc(50% - 160px);
    }
  }
  @keyframes slide-in {
    from {
      margin-left: 100%;
    }
    to {
      left: calc(50% - 160px);
    }
  }
  .menu {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    min-height: 100vh;
  }
  .nav-open .menu {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .nav-open .btn-mobile-nav {
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .nav-open .shadow {
    background-color: rgba(41, 41, 41, 0.6);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
  .logo-link_mobile {
    display: block;
    position: absolute;
    top: 30px;
    left: 10px;
  }
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 42px;
  }
  .menu__link {
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 7px;
  }
  .section {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .pets__heading {
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 100%;
    margin-bottom: 42px;
  }
  .pets__card_mobile-hidden {
    display: none;
  }
  .pets__cards-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 30px;
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 270px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 42px;
  }
  .pets .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 809px;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
  }
  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 208px;
  }
  .footer__address {
    width: 100%;
    height: 222px;
  }
  .footer__header {
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 250px;
  }
  .footer__img {
    width: 260px;
    height: 269px;
  }
}
/*# sourceMappingURL=style.css.map */