@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .center {
    padding-left: calc(50% - 150px); //(320 - 10 * 2) / 2
    padding-right: calc(50% - 150px);
  }

  // HERO SECTION & NAVIGATION

  .top {
    min-height: 823px;
  }

  .header {
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .logo-container {
    margin-left: 10px;
  }

  .btn-mobile-nav {
    display: block;

    margin-right: 53px;

    z-index: 2;
    cursor: pointer;

    transition: $transit;
  }

  @keyframes slide-in {
    from {
      margin-left: 100%;
    }

    to {
      left: calc(50% - 160px);
    }
  }

  @keyframes slide-out {
    from {
      left: calc(50% - 160px);
    }

    to {
      margin-left: 100%;
    }
  }

  .menu {
    background-color: #292929;

    position: fixed;
    top: 0;
    left: 100%;
    z-index: 1;

    width: 320px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: $transit;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    // animation-duration: 0.1s;
    // animation-name: slide-in;
    // display: none;
  }

  .nav-open .menu {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(-100%);
    // transform: translateX(0);
  }

  // .nav-open .slide-out {
  //   animation-duration: 3s;
  //   animation-name: slide-out;
  // }

  .nav-open .btn-mobile-nav {
    position: fixed;
    top: 45px;
    right: 0;
    // right: calc(50% - 150px);

    transition: $transit;
    transform: rotate(90deg);
  }

  .nav-open .shadow {
    background-color: rgba(41, 41, 41, 0.6);

    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    opacity: 1;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: $transit;
  }

  .logo-link {
    &_mobile {
      display: block;

      position: absolute;
      top: 30px;
      left: 0;
    }
  }

  .menu-list {
    flex-direction: column;
    gap: 42px;

    // margin-top: 248px;
    // margin-bottom: 244px;
  }

  .menu__link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;

    padding-bottom: 7px;
  }

  .hero {
    min-height: 670px;

    &__text-content {
      align-items: center;

      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &__title {
      font-family: Georgia;
      font-size: 25px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.06em;
      text-align: center;

      max-width: 250px;
    }

    &__subheading {
      text-align: center;
    }

    &__button {
      margin-bottom: 105px;
    }

    &__img {
      height: 272px;
    }
  }

  .section {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  // ABOUT SECTION

  .about {
    &__content {
      align-items: center;
      padding-right: 0;
      padding-left: 0;
    }

    &__img-container {
      width: 260px;
    }

    &__img {
      width: 100%;
    }

    &__text-content {
      align-items: center;
      margin-bottom: 42px;

      width: 270px;
    }

    &__heading {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.06em;
      text-align: center;

      max-width: 250px;
    }

    &__text {
      text-align: justify;

      &_mb {
        margin-bottom: 22px;
      }
    }
  }

  // PETS SECTION

  .pets {
    &__heading {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.06em;
      text-align: center;

      max-width: 100%;
      margin-bottom: 42px;
    }

    &__card {
      &_mobile-hidden {
        display: none;
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;

      justify-items: center;
    }

    .arrow-left {
      margin-left: 57px;
      margin-right: auto;
      justify-self: start;
    }

    .arrow-right {
      margin-left: auto;
      margin-right: 57px;
      justify-self: end;
    }

    &__cards-container {
      grid-template-columns: 1fr;
      gap: 0;

      grid-column: 1/3;
      grid-row: 1/2;

      width: 270px;

      padding-left: 0;
      padding-right: 0;
      margin-bottom: 20px;
    }

    &__button {
      margin-top: 42px;
    }
  }

  // HOW YOU CAN HELP SECTION

  .help {
    &__heading {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.06em;
      text-align: center;

      max-width: 100%;
      margin-bottom: 42px;
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      width: 290px;
      margin: 0;
    }

    &__item {
      min-height: 87px;

      & img {
        max-width: 50px;
        max-height: 50px;
      }
    }

    &__item-text {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0.06em;
      text-align: center;
    }
  }

  // DONATION SECTION

  .donation {
    &__content {
      align-items: center;
    }

    &__img-container {
      width: 260px;
    }

    &__img {
      width: 100%;
    }

    &__text-content {
      align-items: center;

      width: 100%;
      margin-bottom: 42px;
    }

    &__heading {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.06em;
      text-align: center;

      max-width: 220px;
    }

    &__subheading {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
    }

    &__credit-card {
      padding: 10px 15px;
    }

    &__card-number {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0.06em;
      text-align: left;

      padding-top: 3px;
    }

    &__text {
      text-align: justify;

      width: 280px;
    }
  }

  // FOOTER

  .footer {
    align-items: center;

    min-height: 809px;

    &__info {
      flex-direction: column;
      align-items: center;
      gap: 40px;

      padding-left: 0;
      padding-right: 0;

      padding-bottom: 40px;
    }

    &__contacts {
      align-items: center;

      height: 208px;
    }

    &__address {
      width: 100%;
      height: 222px;
    }

    &__header {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.06em;
      text-align: center;
      align-self: center;

      width: 250px;
    }

    &__img {
      width: 260px;
      height: 269px;
    }
  }
}
