@media (max-width: 767.98px) {
  // NAVIGATION

  .menu {
    background-color: #ffffff;
  }

  .section {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  // PETS SECTION

  .slide-container {
    width: 270px;
    margin-bottom: 0;
  }

  .pets {
    &__heading {
      margin-bottom: 42px;
    }

    &__cards-container {
      grid-template-columns: 1fr;
      gap: 30px;

      grid-column: 1/-1;
      grid-row: 1/-1;

      padding-left: 0;
      padding-right: 0;
      margin-bottom: 42px;
    }

    &__card {
      width: 100%;
    }

    .pagination {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 0;
    }
  }
}
